.search__body{
width: 95%;
margin: auto;
margin-top: 50px;
}
.search__poster{
    display: grid;
    grid-gap: 40px;
}

.search__posters{
    border-radius: 10px;
    object-fit: contain;
    /* width: 100%; */
    max-height: 200px;
    cursor: pointer;
    float: right;
}

.group{
    display: flex;
    
}
.detail{
    margin-left: 15px;
    margin-top: 15px;
}